{% extends 'layout.html' %}

{% block navbar %}
  <nav>
        <ul class="flex border-b mt-5 text-xl">
            <li class="-mb-px mr-1 ml-10">
              <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-{{ session['color'] }}-700 font-semibold" href="/">Chinook</a>
            </li>
            <li class="mr-1">
              <a class="bg-white inline-block py-2 px-4 text-{{ session['color'] }}-500 hover:text-{{ session['color'] }}-800 font-semibold" href="/artistes">Artistes</a>
            </li>
            <li class="mr-1">
              <a class="bg-white inline-block py-2 px-4 text-{{ session['color'] }}-500 hover:text-{{ session['color'] }}-800 font-semibold" href="/albums">Albums</a>
            </li>
            <li class="mr-1">
              <a class="bg-white inline-block py-2 px-4 {{ session['panierAvailable'] }} font-semibold" href="{{ session['panierLink'] }}">Panier</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block entete %}
  <div class="flex justify-center">
    <p>Chin∅∅k, des tubes qui te h∅∅k</p>
  </div>
{% endblock %}

{% block entete_extra %}
  <div  class="flex justify-center" id="sketch-holder">
    <script src="../static/sketch.js"></script>
  </div>
{% endblock %}








{% block contenu %}
    <div class="min-h-screen flex items-center">
      <div class="flex-1 max-w-5xl mx-auto p-10">
        <ul class="grid grid-cols-10 gap-20 grid-flow-row">
          {% for artiste in artistes %}
              {% if [True,False]|random() %}
                <li class="col-span-{{ [2,3,4,5] | random() }} transform -rotate-{{ [0,3,6,9,12] | random() }} translate-x-{{ [0,3,6,9,12] | random() }} translate-y-{{ [0,3,6,9,12] | random() }} bg-white rounded-lg shadow-xl hover:bg-{{ session['color'] }}-100 delay-50 duration-100 p-5 rounded-lg">
              {% else %}
                <li class="col-span-{{ [2,3,4,5] | random() }} transform rotate-{{ [0,3,6,9,12] | random() }} translate-x-{{ [0,3,6,9,12] | random() }} translate-y-{{ [0,3,6,9,12] | random() }} bg-white rounded-lg shadow-xl hover:bg-{{ session['color'] }}-100 delay-50 duration-100 p-5 rounded-lg">
              {% endif %}
              <!-- Modifié de : https://tailwindcomponents.com/component/spotify-playlist-card -->
              <!-- Autre concept : https://tailwind-elements.com/snippets/tailwind/tailwindelements/3736695 -->
              <div class="flex items-center justify-center">
                <!-- Card  -->
                <a class="w-full group" href="/artiste?artiste={{artiste['Name']}}">
                  <!-- Image Cover -->
                  <img src="https://picsum.photos/600/250?random={{ [0,1,2,3,4,5] | random() }}" class="w-full rounded shadow" />
                  <!-- Title -->
                  <h3 class="text-{{ session['color'] }}-900 font-bold mt-5"> {{ artiste['Name'] }} </h3>
                </a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}









{% block contenuTestTest %}
    <div class="min-h-screen flex items-center">
      <div class="flex-1 max-w-5xl mx-auto p-10">
        <ul class="grid grid-cols-10 gap-20 grid-flow-row">
          {% for artiste in artistes %}
            {% if loop.index is divisibleby 15 %}
                  {% if [True,False]|random() %}
                    <li class="col-span-5 transform -rotate-{{ [0,3,6,9,12] | random() }} translate-x-{{ [0,3,6,9,12] | random() }} translate-y-{{ [0,3,6,9,12] | random() }} bg-white rounded-lg shadow-xl">
                  {% else %}
                    <li class="col-span-5 transform rotate-{{ [0,3,6,9,12] | random() }} translate-x-{{ [0,3,6,9,12] | random() }} translate-y-{{ [0,3,6,9,12] | random() }} bg-white rounded-lg shadow-xl">
                  {% endif %}
            {% elif loop.index is divisibleby 5 %}
                  {% if [True,False]|random() %}
                    <li class="col-span-4 transform -rotate-{{ [0,3,6,9,12] | random() }} translate-x-{{ [0,3,6,9,12] | random() }} translate-y-{{ [0,3,6,9,12] | random() }} bg-white rounded-lg shadow-xl">
                  {% else %}
                    <li class="col-span-4 transform rotate-{{ [0,3,6,9,12] | random() }} translate-x-{{ [0,3,6,9,12] | random() }} translate-y-{{ [0,3,6,9,12] | random() }} bg-white rounded-lg shadow-xl">
                  {% endif %}
            {% elif loop.index is divisibleby 3 %}
                  {% if [True,False]|random() %}
                    <li class="col-span-3 transform -rotate-{{ [0,3,6,9,12] | random() }} translate-x-{{ [0,3,6,9,12] | random() }} translate-y-{{ [0,3,6,9,12] | random() }} bg-white rounded-lg shadow-xl">
                  {% else %}
                    <li class="col-span-3 transform rotate-{{ [0,3,6,9,12] | random() }} translate-x-{{ [0,3,6,9,12] | random() }} translate-y-{{ [0,3,6,9,12] | random() }} bg-white rounded-lg shadow-xl">
                  {% endif %}
            {% else %}
                  {% if [True,False]|random() %}
                    <li class="col-span-2 transform -rotate-{{ [0,3,6,9,12] | random() }} translate-x-{{ [0,3,6,9,12] | random() }} translate-y-{{ [0,3,6,9,12] | random() }} bg-white rounded-lg shadow-xl">
                  {% else %}
                    <li class="col-span-2 transform rotate-{{ [0,3,6,9,12] | random() }} translate-x-{{ [0,3,6,9,12] | random() }} translate-y-{{ [0,3,6,9,12] | random() }} bg-white rounded-lg shadow-xl">
                  {% endif %}
            {% endif %}
              <div class="h-40 hover:bg-gray-100 delay-50 duration-100 p-3 rounded-lg flex items-center justify-center">
                <!-- Card -->
                <a class="w-50% group" href="/artiste?artiste={{artiste['Name']}}">
                  <!-- Image Cover -->
                  <img src="https://picsum.photos/200/100?random={{ [0,1,2,3,4,5] | random() }}&grayscale&blur=2" class="w-full rounded shadow" />
                  <!-- Title -->
                  <h3 class="text-black-200 font-bold mt-5">{{ artiste['Name'] }}</h3>
                </a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}


{% block contenuTest %}
    <div class="container">
      <div class="row">
        {% for artiste in artistes %}
          <div class="col-md-0"></div>
          <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="https://picsum.photos/200/300?random={{(loop.index)%3}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a href="/artiste?artiste={{artiste['Name']}}">{{ artiste['Name'] }}</a></h5>
              <!--<p class="card-text"></p>-->
              <a href="/artiste?artiste={{artiste['Name']}}" class="btn btn-primary">Check it</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}